html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  color: rgb(34, 34, 34);
  direction: ltr;
  display: block;
  font-size: 16px;
  margin-top: -1px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
}

#content {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(167, 215, 249);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(167, 215, 249);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(167, 215, 249);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(167, 215, 249);
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(34, 34, 34);
  direction: ltr;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 176px;
  margin-top: 81px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
}

#mw-navigation {
  color: rgb(0, 0, 0);
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  height: 0px;
  width: 1432px;
}

a {
  color: rgb(6, 69, 173);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline; 
}

h1 {
  color: rgb(0, 0, 0);
  direction: ltr;
  display: block;
  font-family: "Linux Libertine", Georgia, Times, serif;
  font-size: 21px;
  font-weight: 400;
  height: 27px;
  margin-bottom0: 100px;
}

.mw-headline2 {
  color: rgb(0, 0, 0);
  direction: ltr;
  display: inline;
  font-family: "Linux Libertine", Georgia, Times, serif;
  font-size: 21px;
  font-weight: 400;
  height: auto;
  line-height: 27.299999px;
  width: auto;
  margin-bottom: 5px;
}

h3 {
  font-family: sans-serif;
  font-size: 16.799999px;
  font-weight: 700;
  height: 26px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(34, 34, 34);
  direction: ltr;
  display: block;
  line-height: 22.4px;
  margin-block-end: 7px;
  margin-block-start: 7px;
  margin-bottom: 7px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 7px;
}

.image {
  background-color: rgb(248, 249, 250);
  border-bottom-color: rgb(32, 33, 34);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-collapse: collapse;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(200, 204, 209);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(200, 204, 209);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(200, 204, 209);
  border-top-style: solid;
  border-top-width: 1px;
  clear: right;
  color: rgb(32, 33, 34);
  direction: ltr;
  display: table;
  float: right;
  font-family: sans-serif;
  font-size: 14px;
  height: 159px;
  line-height: 0px;
  margin-block-end: 18.200001px;
  margin-block-start: 7px;
  margin-bottom: 18.200001px;
  margin-inline-end: 0px;
  margin-inline-start: 19.6px;
  margin-left: 19.6px;
  margin-right: 0px;
  margin-top: 7px;
  min-width: 100px;
  text-align: center;
  width: 509px;
}

.verticleimg {
  background-color: rgb(248, 249, 250);
  border-bottom-color: rgb(32, 33, 34);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-collapse: collapse;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(200, 204, 209);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(200, 204, 209);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(200, 204, 209);
  border-top-style: solid;
  border-top-width: 1px;
  clear: right;
  color: rgb(32, 33, 34);
  direction: ltr;
  display: table;
  float: right;
  font-family: sans-serif;
  font-size: 14px;
  height: 159px;
  line-height: 0px;
  margin-block-end: 18.200001px;
  margin-block-start: 7px;
  margin-bottom: 18.200001px;
  margin-inline-end: 0px;
  margin-inline-start: 19.6px;
  margin-left: 19.6px;
  margin-right: 0px;
  margin-top: 7px;
  text-align: center;
  width: 309px;
}

figcaption {
  background-color: rgb(248, 249, 250);
  border-bottom-color: rgb(200, 204, 209);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(200, 204, 209);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(200, 204, 209);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(32, 33, 34);
  border-top-style: none;
  border-top-width: 0px;
  caption-side: bottom;
  color: rgb(32, 33, 34);
  direction: ltr;
  display: table-caption;
  font-family: sans-serif;
  font-size: 12.375999px;
  height: 17px;
  line-height: 17.326399px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  text-align: left;
  width: 509px;
  word-break: break-word;
}

.verticlecap {
  width:309px;
  height: 34px;
}

.mw-headline {
  color: rgb(0, 0, 0);
  direction: ltr;
  display: inline;
  font-family: "Linux Libertine", Georgia, Times, serif;
  font-size: 25.200001px;
  font-weight: 400;
  height: auto;
  line-height: 32.759998px;
  width: auto;
  margin-bottom: 100px;
}

hr {
  margin-top: 0;
  padding-top: 0
}

table {
  background-color: rgb(248, 249, 250);
  border-bottom-color: rgb(162, 169, 177);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(162, 169, 177);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(162, 169, 177);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(162, 169, 177);
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  clear: right;
  color: rgb(0, 0, 0);
  direction: ltr;
  display: table;
  float: right;
  font-family: sans-serif;
  font-size: 12.32px;
  height: 420px;
  line-height: 14.783999px;
  margin-bottom: 6.16px;
  margin-left: 12.32px;
  margin-right: 0px;
  margin-top: 6.16px;
  padding-bottom: 2.464px;
  padding-left: 2.464px;
  padding-right: 2.464px;
  padding-top: 2.464px;
  text-indent: 0px;
  width: 366.765625px;
  -webkit-border-horizontal-spacing: 3px;
  -webkit-border-vertical-spacing: 3px;
}

#toc {
  background-color: rgb(248, 249, 250);
  border-bottom-color: rgb(162, 169, 177);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(162, 169, 177);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(162, 169, 177);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(162, 169, 177);
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(34, 34, 34);
  direction: ltr;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13.3px;
  /* height: 865.484375px; */
  line-height: 21.280001px;
  padding-bottom: 7px;
  padding-right: 7px;
  padding-top: 7px;
  width: 218.109375px;
  zoom: 1;
  text-align: left;
}

.toc .toctitle {
  text-align: center;
  padding: 0;
  margin: 0;
}

.toc ul {
  color: rgb(34, 34, 34);
  display: block;
  font-family: sans-serif;
  font-size: 13.3px;
  line-height: 21.280001px;
  list-style-image: none;
  list-style-type: none;
  text-align: left;
  padding-left: 10px;
}

.tocnumber {
  color: rgb(34, 34, 34);
  cursor: auto;
  direction: ltr;
  display: table-cell;
  font-family: sans-serif;
  font-size: 13.3px;
  height: 21px;
  line-height: 21.280001px;
  list-style-image: none;
  list-style-type: none;
  padding-left: 0px;
  padding-right: 6.65px;
  text-align: left;
  text-decoration: none;
  text-decoration-line: none;
  width: 7.40625px;
}

li {
display: list-item;
text-align: match-parent;
}

.toctext {
  text-align: left;
}

h2 {
  font-size: 13.3px;
  font-weight: 700;

}

.furtherreading {
  font-size: 13.3px;
  line-height: 21.280001px;
}